.creatCourse{
    
    background: #f6ecf7;

  
  background: -webkit-linear-gradient(to bottom right, rgb(243, 220, 247), rgb(247, 213, 217));

  
  background: linear-gradient(to bottom right, rgb(171, 169, 172), rgb(67, 69, 100));
  .innerCreat{
    height: 40%;
    width: 70%;
  }
}