.divNav {
  width: 100%;
  background-color: blueviolet;
  height: 50px;
}
.bg-body-tertiary {
  background-color: black;
}
.text {
  position: relative;
  left: 12%;
}
.aaa {
  background-color: rgb(239, 230, 247);
}
