.ById{
    width: 100%;
   
    position:absolute;
   
    margin-top: 3%;
   
border-right:  solid 4px black;

}

.Card_1{
    width: 61%;
    height: 80%;
    margin-right: 4%;
    position: absolute;
    right: 1%;
    
}

.Card_2{
    width: 25%;
   margin-left:  40%;

    position: absolute;
    right: 66%;
    .buttonCart{
        position: absolute;
        right: 30%;
        bottom: 20%;
        width: 50%;
        
    }
    .link{
        position: absolute;
        right: 30%;
        bottom: 10%;
    }
    .buttonFavorit{
        position: absolute;
        left: 5%;
        top: 5%;
    }
    #price{
        position: absolute;
        right: 5%;
        top: 5%;
        
    }
}
.comment{
    position: absolute;
    top:23rem;
    width: 100%;
    

}
.creatComment{
    position: absolute;
    top:20rem;
    right: 1%;
    width: 80%;
    .butnComment{
        position: relative;
        right: 1%;
    }
    .inputComment{
        position: relative;
        left: 1%;
        width: 99%;
    }
}

.p-header{
    margin-left:80%;
    
}

#myInput{
    margin: 10px;
    margin-right:55px;
}
.divvcomm{
    background: linear-gradient(to top right, rgb(165, 149, 172), rgb(67, 69, 100));
    
    padding-left: 110px;
}